*{
    margin: 0 auto;
    padding: 0 ;
    box-sizing: border-box;
    font-family: cursive;
    background-color: rgb(10, 10, 10);
    color: white;
}
/* constants  */
.font20{font-size: 20px;}

.transparent{background-color: transparent;}
.shadow-white{
    text-shadow: 0 0 7px rgb(255, 255, 255);
}
.name{
font-size: clamp(1.5em, 5vw, 3em);
padding: 0 .5em;
text-shadow: 0 0 10px rgb(255, 255, 255);
}
.less-white{
    color: rgba(255, 255, 255, 0.579);
}
body{
width: 90%;
margin: 50px 0 0 0;
}

body:before{
content: "";
position: absolute;
top: 0;
left: 50%;
height: 100vh;
box-shadow: 0 0 100px 5px rgb(6, 207, 252);
animation: bodycolor 25s ease-in-out infinite alternate;
}

body:after{
content: "";
position: absolute;
top: 0;
left: 0;
width: 100vw;
box-shadow: 0 0 100px 5px rgb(6, 252, 76);
animation: bodycolor2 25s ease-in-out infinite alternate;
}

@keyframes bodycolor {
    0%{
        top: 0;
        left: 0%;
        box-shadow: 0 0 100px 6px rgb(6, 207, 252);
    }
    100%{
        top: 10%;
        left: 100%;
        box-shadow: 0 0 100px 1px rgb(6, 113, 252);
    }
}
@keyframes bodycolor2 {
    0%{
        top: 0;
        left: 0%;
        box-shadow: 0 0 100px 6px rgb(104, 246, 144);
    }
    100%{
        top: 100%;
        left: 0;
        box-shadow: 0 0 100px 1px rgb(6, 252, 133);
    }
}

.s1{
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
margin: 0px 0;
}

section div .personal {
    width: 9em;
    background-color:transparent;
    border-radius: 50%;
    border: double 10px rgba(255, 255, 255, 0.048);
    animation: colorchange 5s ease-in-out infinite alternate;
}

.bio , .skills, .contact{
font-size: 24px;
padding: 0 0 20px 0;
text-shadow: 0 0 7px rgb(255, 255, 255);

}

ul {
list-style: none;
padding:5px auto;
}

li{
background-color: transparent;
}

.grid{
margin: 100px auto;
}

.grid .grid-cells{
    position: relative;
    width: 50%;
    border: 1px solid rgba(128, 128, 128, 0.493);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: transparent;
    margin: 15px auto;
}

.grid .parent .drop{
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transform: translateY(10px);
    transition: all 1s ease;
    z-index: 10;
}

.parent {
    cursor: pointer;
    font-weight: bold;
    width: fit-content;
}

.ico{
width: 50px;
}

.parent.open .drop {
max-height: 500px;   
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

footer{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px  auto;
    padding: 20px;
    border: 1px solid rgba(128, 128, 128, 0.493);
    border-radius:10px ;
}

.pro-name{
    font-size: 20px;
    margin: 0 0 10px 0;
}

.alig{text-align: center;}

.ar-colored{
    text-shadow: 0  0px 10px rgba(0, 255, 255, 0.253);
    padding: 50px 0 0 0;
}





